body {
    background-color: rgb(233, 233, 233);
}
.pasteData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}
.w3-center{
    background-color: #614a79;
    color: white;
    margin:0;
    padding-bottom: 10px;
    padding-top: 10px;
}
img{
    width:400px;
}
.mySlides{
    display: none;
    width: 600px;
    height: 763px;
}